In [13]:
list1 = [2,3,4,5]

listmap = map(lambda x : x+2, list1)


for i in listmap:
    print(i, end = "")

4567

In [16]:
# list1.filter(lambda x : x>2)

for i in filter(lambda x : x>2, list1):
    print(i)

3
4
5

In [20]:
string = "how rr u"
string.replace("rr", "r")

'how r u'

In [23]:
string.find("how")
"how" in string

True

In [24]:
state = [
"State->Telangana" ,
"State->Gujarat" ,
"State->Karnataka"
]

states = map(lambda x : x.replace("State->", ""), state)

for i in states:
    print(i)

Telangana
Gujarat
Karnataka

In [25]:
spl = "State~City"
spl.split("~")

['State', 'City']

In [26]:
import findspark
findspark.init()
findspark.find()

'C:\\Users\\dines\\anaconda3\\Lib\\site-packages\\pyspark'

In [27]:
# Normal Imports
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf, SparkContext
from pyspark.sql.functions import col,struct,when, lit
from pyspark.sql import Row

print("imported")

imported

In [28]:
# spark context
conf = SparkConf().setAppName("Spark").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf = conf)
sc.setLogLevel("ERROR")


# spark session
spark = SparkSession.builder.master("local[1]").appName('SparkByExamples.com').getOrCreate()

In [ ]:
# "file:///D:/Data Analytics applications/Eclipse Projects/data_files/"

In [107]:
data = sc.textFile("file:///D:/Data Analytics applications/Eclipse Projects/data_files/datatxns.txt")
data.foreach(print)
# data.foreach(lambda f : print(f))

In [45]:
filterdata = data.filter(lambda x : len(x) > 30 )
filterdata.foreach(print)
data1 = filterdata.take(3)
data1

['00000003,Gymnastics,GymnasticsRings,credit',
 '00000014,Gymnastics,Vaulting,credit',
 '00000023,Gymnastics,GymnasticsRings,credit']

In [48]:
splitdata = filterdata.map(lambda x : x.split(","))
splitdata.foreach(print)
splitdata.take(4)

[['00000003', 'Gymnastics', 'GymnasticsRings', 'credit'],
 ['00000014', 'Gymnastics', 'Vaulting', 'credit'],
 ['00000023', 'Gymnastics', 'GymnasticsRings', 'credit'],
 ['00000045', 'Exercise', 'Abdominal', 'credit']]

In [49]:
splitdf = splitdata.toDF()

In [50]:
splitdf.show()

+--------+----------+---------------+------+
|      _1|        _2|             _3|    _4|
+--------+----------+---------------+------+
|00000003|Gymnastics|GymnasticsRings|credit|
|00000014|Gymnastics|       Vaulting|credit|
|00000023|Gymnastics|GymnasticsRings|credit|
|00000045|  Exercise|      Abdominal|credit|
|00000046|Gymnastics|       Vaulting|credit|
+--------+----------+---------------+------+

In [52]:
usdata = spark.read.format("csv").option("header", "true").load("file:///D:/Data Analytics applications/Eclipse Projects/data_files/usdata.csv")

usdata.show(n=3,truncate=25,vertical=True)

-RECORD 0---------------------------------
 first_name   | James
 last_name    | Butt
 company_name | Benton, John B Jr
 address      | 6649 N Blue Gum St
 city         | New Orleans
 county       | Orleans
 state        | LA
 zip          | 70116
 age          | 9
 phone1       | 504-621-8927
 phone2       | 504-845-1427
 email        | jbutt@gmail.com
 web          | http://www.bentonjohnb...
-RECORD 1---------------------------------
 first_name   | Josephine
 last_name    | Darakjy
 company_name | Chanay, Jeffrey A Esq
 address      | 4 B Blue Ridge Blvd
 city         | Brighton
 county       | Livingston
 state        | MI
 zip          | 48116
 age          | 8
 phone1       | 810-292-9388
 phone2       | 810-374-9840
 email        | josephine_darakjy@dara...
 web          | http://www.chanayjeffr...
-RECORD 2---------------------------------
 first_name   | Art
 last_name    | Venere
 company_name | Chemel, James L Cpa
 address      | 8 W Cerritos Ave #54
 city         | Bridgeport
 county       | Gloucester
 state        | NJ
 zip          | 8014
 age          | 7
 phone1       | 856-636-8749
 phone2       | 856-264-4130
 email        | art@venere.org
 web          | http://www.chemeljames...
only showing top 3 rows

In [54]:
usdata.createOrReplaceTempView("usdata")
sqldata = spark.sql("select first_name, last_name, city from usdata")
sqldata.show()

+----------+---------+-------------+
|first_name|last_name|         city|
+----------+---------+-------------+
|     James|     Butt|  New Orleans|
| Josephine|  Darakjy|     Brighton|
|       Art|   Venere|   Bridgeport|
|     Lenna| Paprocki|    Anchorage|
|   Donette|   Foller|     Hamilton|
|    Simona|  Morasca|      Ashland|
|    Mitsue|  Tollner|      Chicago|
|     Leota| Dilliard|     San Jose|
|      Sage|   Wieser|  Sioux Falls|
|      Kris|  Marrier|    Baltimore|
|     Minna|   Amigon|   Kulpsville|
|      Abel|  Maclead|Middle Island|
|     Kiley|Caldarera|  Los Angeles|
|  Graciela|     Ruta|Chagrin Falls|
|     Cammy|  Albares|       Laredo|
|    Mattie| Poquette|      Phoenix|
|   Meaghan|   Garufi| Mc Minnville|
|    Gladys|      Rim|    Milwaukee|
|      Yuki|  Whobrey|       Taylor|
|  Fletcher|    Flosi|     Rockford|
+----------+---------+-------------+
only showing top 20 rows

In [57]:
parqdata = spark.read.format("parquet").option("header", "true").load("file:///D:/Data Analytics applications/Eclipse Projects/data_files/file5.parquet")
parqdata.show()

+--------+----------+-------+------+--------------------+-------------------+-------------+-------------+-------+
|   txnno|   txndate| custno|amount|            category|            product|         city|        state|spendby|
+--------+----------+-------+------+--------------------+-------------------+-------------+-------------+-------+
|00075990|10-27-2011|4004658|063.14|        Water Sports| Whitewater Rafting|  Springfield|     Illinois| credit|
|00075991|11-23-2011|4009784|005.46|Outdoor Play Equi...|   Outdoor Playsets|   Cincinnati|         Ohio|   cash|
|00075992|04-20-2011|4000281|175.44|  Exercise & Fitness|Abdominal Equipment|   Long Beach|   California| credit|
|00075993|05-12-2011|4005096|061.08|         Team Sports|       Cheerleading|   Montgomery|      Alabama| credit|
|00075994|12-16-2011|4002516|005.20|  Outdoor Recreation|      Rock Climbing|  Chattanooga|    Tennessee|   cash|
|00075995|10-18-2011|4002875|115.57|  Outdoor Recreation|         Geocaching|        Boise|        Idaho| credit|
|00075996|04-05-2011|4003288|182.02|       Combat Sports|             Boxing|    Baltimore|     Maryland| credit|
|00075997|05-18-2011|4002680|097.75|             Jumping|     Bungee Jumping|     Portland|       Oregon| credit|
|00075998|10-10-2011|4003177|181.85|        Indoor Games|         Air Hockey|       Boston|Massachusetts| credit|
|00075999|10-07-2011|4007526|084.44|  Outdoor Recreation|        Motorsports|    Cleveland|         Ohio| credit|
|00076000|07-29-2011|4002374|129.91|          Gymnastics|   Gymnastics Rings|   Cincinnati|         Ohio| credit|
|00076001|09-21-2011|4001795|057.17|         Team Sports|   Beach Volleyball|     Rockford|     Illinois| credit|
|00076002|05-13-2011|4007526|031.04|          Gymnastics|   Gymnastics Rings|  Jersey City|   New Jersey| credit|
|00076003|09-15-2011|4006044|125.84|Outdoor Play Equi...|         Swing Sets|Jacksonville |      Florida| credit|
|00076004|02-01-2011|4004342|102.10|        Water Sports|       Water Tubing|     McKinney|        Texas| credit|
|00076005|07-27-2011|4004221|059.98|       Combat Sports|          Wrestling|  Minneapolis|    Minnesota| credit|
|00076006|04-24-2011|4005091|121.95|         Team Sports|            Curling|     McKinney|        Texas| credit|
|00076007|01-03-2011|4006715|149.90|  Exercise & Fitness|     Medicine Balls|     Columbus|      Georgia| credit|
|00076008|02-23-2011|4005043|186.21|         Team Sports|      Team Handball|    Sunnyvale|   California| credit|
|00076009|10-03-2011|4009600|074.97|  Exercise & Fitness|       Free Weights|     Paterson|   New Jersey| credit|
+--------+----------+-------+------+--------------------+-------------------+-------------+-------------+-------+
only showing top 20 rows

In [64]:
from pyspark.sql.functions import *
filtdata = parqdata.filter(parqdata["category"] == "Team Sports")
filtdata.show()

+--------+----------+-------+------+-----------+----------------+--------------+--------------+-------+
|   txnno|   txndate| custno|amount|   category|         product|          city|         state|spendby|
+--------+----------+-------+------+-----------+----------------+--------------+--------------+-------+
|00075993|05-12-2011|4005096|061.08|Team Sports|    Cheerleading|    Montgomery|       Alabama| credit|
|00076001|09-21-2011|4001795|057.17|Team Sports|Beach Volleyball|      Rockford|      Illinois| credit|
|00076006|04-24-2011|4005091|121.95|Team Sports|         Curling|      McKinney|         Texas| credit|
|00076008|02-23-2011|4005043|186.21|Team Sports|   Team Handball|     Sunnyvale|    California| credit|
|00076021|08-13-2011|4001350|150.00|Team Sports|        Football|        Durham|North Carolina| credit|
|00076032|05-04-2011|4006570|173.76|Team Sports|      Basketball|       Madison|     Wisconsin| credit|
|00076059|01-23-2011|4006522|061.78|Team Sports|Beach Volleyball|   Nashville  |     Tennessee| credit|
|00076070|10-27-2011|4004842|156.59|Team Sports|          Soccer|      Pasadena|         Texas| credit|
|00076085|07-26-2011|4005582|112.61|Team Sports|           Rugby| Oklahoma City|      Oklahoma| credit|
|00076096|02-26-2011|4004409|124.84|Team Sports|    Field Hockey|   Los Angeles|    California| credit|
|00076101|07-02-2011|4003995|141.07|Team Sports|   Team Handball|    Cincinnati|          Ohio| credit|
|00076110|11-03-2011|4008022|100.15|Team Sports|    Cheerleading|       Lincoln|      Nebraska| credit|
|00076112|10-03-2011|4001551|045.02|Team Sports|   Team Handball|         Boise|         Idaho| credit|
|00076114|04-21-2011|4003706|080.35|Team Sports|           Rugby|       Houston|         Texas| credit|
|00076133|02-01-2011|4009898|086.68|Team Sports|    Field Hockey|        Orange|    California| credit|
|00076139|12-10-2011|4001775|071.74|Team Sports|    Cheerleading|   Los Angeles|    California| credit|
|00076143|06-30-2011|4009607|146.98|Team Sports|         Cricket|        Austin|         Texas| credit|
|00076149|02-25-2011|4000674|154.10|Team Sports|        Lacrosse|         Flint|      Michigan| credit|
|00076151|12-23-2011|4009911|055.74|Team Sports|Beach Volleyball|St. Petersburg|       Florida| credit|
|00076161|03-20-2011|4005127|138.24|Team Sports|Beach Volleyball|St. Petersburg|       Florida| credit|
+--------+----------+-------+------+-----------+----------------+--------------+--------------+-------+
only showing top 20 rows

In [66]:
selectdata = filtdata.select("txnno", "custno" , "amount", "product")
selectdata.show()

+--------+-------+------+----------------+
|   txnno| custno|amount|         product|
+--------+-------+------+----------------+
|00075993|4005096|061.08|    Cheerleading|
|00076001|4001795|057.17|Beach Volleyball|
|00076006|4005091|121.95|         Curling|
|00076008|4005043|186.21|   Team Handball|
|00076021|4001350|150.00|        Football|
|00076032|4006570|173.76|      Basketball|
|00076059|4006522|061.78|Beach Volleyball|
|00076070|4004842|156.59|          Soccer|
|00076085|4005582|112.61|           Rugby|
|00076096|4004409|124.84|    Field Hockey|
|00076101|4003995|141.07|   Team Handball|
|00076110|4008022|100.15|    Cheerleading|
|00076112|4001551|045.02|   Team Handball|
|00076114|4003706|080.35|           Rugby|
|00076133|4009898|086.68|    Field Hockey|
|00076139|4001775|071.74|    Cheerleading|
|00076143|4009607|146.98|         Cricket|
|00076149|4000674|154.10|        Lacrosse|
|00076151|4009911|055.74|Beach Volleyball|
|00076161|4005127|138.24|Beach Volleyball|
+--------+-------+------+----------------+
only showing top 20 rows

In [71]:
multifiltdata = parqdata.filter((parqdata["category"] == "Team Sports") | (parqdata["product"] == "Team Handball"))
multifiltdata.show()

+--------+----------+-------+------+-----------+----------------+--------------+--------------+-------+
|   txnno|   txndate| custno|amount|   category|         product|          city|         state|spendby|
+--------+----------+-------+------+-----------+----------------+--------------+--------------+-------+
|00075993|05-12-2011|4005096|061.08|Team Sports|    Cheerleading|    Montgomery|       Alabama| credit|
|00076001|09-21-2011|4001795|057.17|Team Sports|Beach Volleyball|      Rockford|      Illinois| credit|
|00076006|04-24-2011|4005091|121.95|Team Sports|         Curling|      McKinney|         Texas| credit|
|00076008|02-23-2011|4005043|186.21|Team Sports|   Team Handball|     Sunnyvale|    California| credit|
|00076021|08-13-2011|4001350|150.00|Team Sports|        Football|        Durham|North Carolina| credit|
|00076032|05-04-2011|4006570|173.76|Team Sports|      Basketball|       Madison|     Wisconsin| credit|
|00076059|01-23-2011|4006522|061.78|Team Sports|Beach Volleyball|   Nashville  |     Tennessee| credit|
|00076070|10-27-2011|4004842|156.59|Team Sports|          Soccer|      Pasadena|         Texas| credit|
|00076085|07-26-2011|4005582|112.61|Team Sports|           Rugby| Oklahoma City|      Oklahoma| credit|
|00076096|02-26-2011|4004409|124.84|Team Sports|    Field Hockey|   Los Angeles|    California| credit|
|00076101|07-02-2011|4003995|141.07|Team Sports|   Team Handball|    Cincinnati|          Ohio| credit|
|00076110|11-03-2011|4008022|100.15|Team Sports|    Cheerleading|       Lincoln|      Nebraska| credit|
|00076112|10-03-2011|4001551|045.02|Team Sports|   Team Handball|         Boise|         Idaho| credit|
|00076114|04-21-2011|4003706|080.35|Team Sports|           Rugby|       Houston|         Texas| credit|
|00076133|02-01-2011|4009898|086.68|Team Sports|    Field Hockey|        Orange|    California| credit|
|00076139|12-10-2011|4001775|071.74|Team Sports|    Cheerleading|   Los Angeles|    California| credit|
|00076143|06-30-2011|4009607|146.98|Team Sports|         Cricket|        Austin|         Texas| credit|
|00076149|02-25-2011|4000674|154.10|Team Sports|        Lacrosse|         Flint|      Michigan| credit|
|00076151|12-23-2011|4009911|055.74|Team Sports|Beach Volleyball|St. Petersburg|       Florida| credit|
|00076161|03-20-2011|4005127|138.24|Team Sports|Beach Volleyball|St. Petersburg|       Florida| credit|
+--------+----------+-------+------+-----------+----------------+--------------+--------------+-------+
only showing top 20 rows

In [78]:
likesel = multifiltdata.selectExpr("*", "case when product like '%Beach%' then 'beach' else 'no beach' end as place")
likesel.show()

+--------+----------+-------+------+-----------+----------------+--------------+--------------+-------+--------+
|   txnno|   txndate| custno|amount|   category|         product|          city|         state|spendby|   place|
+--------+----------+-------+------+-----------+----------------+--------------+--------------+-------+--------+
|00075993|05-12-2011|4005096|061.08|Team Sports|    Cheerleading|    Montgomery|       Alabama| credit|no beach|
|00076001|09-21-2011|4001795|057.17|Team Sports|Beach Volleyball|      Rockford|      Illinois| credit|   beach|
|00076006|04-24-2011|4005091|121.95|Team Sports|         Curling|      McKinney|         Texas| credit|no beach|
|00076008|02-23-2011|4005043|186.21|Team Sports|   Team Handball|     Sunnyvale|    California| credit|no beach|
|00076021|08-13-2011|4001350|150.00|Team Sports|        Football|        Durham|North Carolina| credit|no beach|
|00076032|05-04-2011|4006570|173.76|Team Sports|      Basketball|       Madison|     Wisconsin| credit|no beach|
|00076059|01-23-2011|4006522|061.78|Team Sports|Beach Volleyball|   Nashville  |     Tennessee| credit|   beach|
|00076070|10-27-2011|4004842|156.59|Team Sports|          Soccer|      Pasadena|         Texas| credit|no beach|
|00076085|07-26-2011|4005582|112.61|Team Sports|           Rugby| Oklahoma City|      Oklahoma| credit|no beach|
|00076096|02-26-2011|4004409|124.84|Team Sports|    Field Hockey|   Los Angeles|    California| credit|no beach|
|00076101|07-02-2011|4003995|141.07|Team Sports|   Team Handball|    Cincinnati|          Ohio| credit|no beach|
|00076110|11-03-2011|4008022|100.15|Team Sports|    Cheerleading|       Lincoln|      Nebraska| credit|no beach|
|00076112|10-03-2011|4001551|045.02|Team Sports|   Team Handball|         Boise|         Idaho| credit|no beach|
|00076114|04-21-2011|4003706|080.35|Team Sports|           Rugby|       Houston|         Texas| credit|no beach|
|00076133|02-01-2011|4009898|086.68|Team Sports|    Field Hockey|        Orange|    California| credit|no beach|
|00076139|12-10-2011|4001775|071.74|Team Sports|    Cheerleading|   Los Angeles|    California| credit|no beach|
|00076143|06-30-2011|4009607|146.98|Team Sports|         Cricket|        Austin|         Texas| credit|no beach|
|00076149|02-25-2011|4000674|154.10|Team Sports|        Lacrosse|         Flint|      Michigan| credit|no beach|
|00076151|12-23-2011|4009911|055.74|Team Sports|Beach Volleyball|St. Petersburg|       Florida| credit|   beach|
|00076161|03-20-2011|4005127|138.24|Team Sports|Beach Volleyball|St. Petersburg|       Florida| credit|   beach|
+--------+----------+-------+------+-----------+----------------+--------------+--------------+-------+--------+
only showing top 20 rows

In [106]:
# aggdata = likesel.agg(sum(likesel.amount).alias("total"))
# aggdata.show()

groupdata = likesel.groupBy("city").agg(sum(likesel.amount), avg(likesel.amount), max(likesel.amount), min(likesel.amount))
groupdata.show()

+------------+------------------+------------------+-----------+-----------+
|        city|       sum(amount)|       avg(amount)|max(amount)|min(amount)|
+------------+------------------+------------------+-----------+-----------+
|Alexandria  |1283.8300000000002| 98.75615384615386|     176.61|     013.15|
|     Anaheim|1255.8899999999999|104.65749999999998|     184.98|     007.13|
|     Atlanta| 928.1199999999999|103.12444444444444|     183.26|     026.41|
|      Austin|           1925.32|113.25411764705882|     189.51|     005.72|
|   Baltimore|1364.6200000000003| 97.47285714285717|     188.90|     030.43|
|    Bellevue|           1549.28| 91.13411764705882|     186.69|     013.74|
|    Berkeley|           1357.58|104.42923076923077|     194.40|     010.03|
|  Birmingham|            764.76|109.25142857142858|     168.21|     047.31|
|       Boise|           1332.34| 88.82266666666666|     178.29|     013.23|
|      Boston|1003.4700000000001| 91.22454545454546|     174.62|     005.33|
| Brownsville| 936.9100000000001| 78.07583333333334|     181.41|     030.10|
|     Buffalo|1671.4599999999998|104.46624999999999|     187.66|     005.52|
|   Cambridge|1363.2600000000002|113.60500000000002|     199.96|     008.74|
|  Centennial|1146.4399999999998|114.64399999999998|     158.10|     040.54|
|  Charleston|            1169.7|            116.97|     194.88|     015.82|
|   Charlotte|1223.6300000000003|111.23909090909093|     197.67|     026.69|
| Chattanooga|           1121.46|            93.455|     172.39|     013.46|
|     Chicago| 873.7699999999999| 97.08555555555554|     186.42|     013.90|
|  Cincinnati|           1316.06|109.67166666666667|     186.44|     008.92|
| Clarksville|           1047.03|           87.2525|     160.48|     023.24|
+------------+------------------+------------------+-----------+-----------+
only showing top 20 rows

In [81]:
cust = spark.read.option("header", "true").format("csv").load("file:///D:/Data Analytics applications/Eclipse Projects/data_files/cust.csv")
cust.show()

+---+----+
| id|name|
+---+----+
|  1| raj|
|  2|ravi|
|  3| sai|
|  5|rani|
+---+----+

In [88]:
prod = spark.read.option("header", "true").format("csv").load("file:///D:/Data Analytics applications/Eclipse Projects/data_files/prod.csv").selectExpr("id as prodid", "product")
prod.show()

+------+-------+
|prodid|product|
+------+-------+
|     1|    raj|
|     3| mobile|
|     7| laptop|
+------+-------+

In [91]:
innerjoin = cust.join(prod, prod.prodid == cust.id, "inner").drop(prod.prodid)
innerjoin.show()

+---+----+-------+
| id|name|product|
+---+----+-------+
|  1| raj|    raj|
|  3| sai| mobile|
+---+----+-------+

In [95]:
leftjoin = cust.join(prod, prod.prodid == cust.id, "left_anti").drop(prod.prodid)
leftjoin.show()

+---+----+
| id|name|
+---+----+
|  2|ravi|
|  5|rani|
+---+----+